
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#container {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: space-around;
}

#form {
    display: flex;
    flex-direction: column;
    width: 450px;
    padding: 20px;
    border-radius: 10px;
    align-items: center;
}

#input-field {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}

#form a {
    text-decoration: none;
    color: #01962e;
    margin: 10px;
}


#form h1{
    text-align: center;
    margin-bottom: 20px;
}

#botao{
    margin-top: 20px;
    margin-bottom: 10px;
    height: 50px;
    width: 200px;
    font-size: 20px;
    border: none;
    color: white;
    border-radius: 6px;
    background-color: #01962e;
    cursor: pointer;
}

.input {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    font-size: 20px
}

.input input {
    width: 300px;
    height: 30px;
    margin-left: 10px;
    font-size: 20px;
    border: none;
    border-bottom: 2px solid #01962e;
    outline: 0;
}
